# ignore files without extensions, except for Makefile
*
!/**/
!*.*
!Makefile

# ignore compiled assets
*.o
*.obj
*.out
*.class

# ignore env files
.env
.env.backup

# ignore ignore compressed files
*.tar
*.tar.bz2
*.tar.gz
*.tgz
*.bz2
*.rar
*.zip
*.7z

# ignore media files
*.mp4
*.mkv
*.webm

# ignore images
*.png
*.svg
*.jpg
*.jpeg

# ignore documents
*.pdf
*.docx

# ignore R files
.Rproj.user
*.Rproj.user
*.Rhistory
*.Rproj
.RData
Rplots.pdf

# ignore LaTeX builds
*.log
*.fls
*.fdb_latexmk
*.aux
*.synctex.gz
_minted-*

# ignore project dependencies
node_modules
vendor

# ignore cache files
__pycache__

# ignore editor files
.idea
.vim
.vscode
tags
